# Go 编译产物
dist/
/alpen-cli
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go 构建中间文件
*.test
*.out
*.cover
/coverage/

# IDE / 编辑器配置
.idea/
.vscode/
.DS_Store
Thumbs.db

# 日志与缓存
*.log
tmp/
cache/
.env
docs/一些想法
docs/go
.alpen/

# Debian 打包临时文件
debian/files
debian/.debhelper/
debian/alpen-cli/
debian/*.substvars
debian/*.log
*.deb
*.dsc
*.changes
*.buildinfo
*.tar.xz
*.tar.gz
alpen-cli-*/
